@media only screen and (max-width: 815px){

   #home {
      background-size: 200vw 120vh;
   }

   .navbar{
      background-color: #8419ff;
      height: 80px;
      box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .42);
      align-items: center;
   }

   .navbar .menu{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      background-color: #8419ff;
      height: 50vh;
      left: -1em;
      transform: translateY(-120%);
      transition: all 1.4s;
   }

   .navbar .menu-toggle{
      transform: translateY(0%);
   }

   .menu li{
      margin-top: 3em;
   }

   .navbar .menu-bar{
      display: block;
      font-size: 2em;
      color: #fff;
      cursor: pointer;
   }

   /* Main section */

   main{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      height: 70vh;
   }

   .main img{
      width: 12em;
   }

   .main h1{
      margin-top: -50px;
   }

   .main .button-content{
      margin: 30px;
   }
}



